@charset "utf-8";

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
  background-image: url("images/background.jpg");
  background-size: cover;
  overflow-x: hidden;
}

.non-mobile-nav ul {
  list-style-type: none; /* Removes default list styling */
  margin: 0;
  padding: 0;
  text-align: center; /* Centers the menu if desired */
  font-family: 'Special Elite';
  font-weight: bold;
}

.non-mobile-nav li {
  display: inline-block; /* Displays list items inline */
  margin-right: 10px; /* Adds some space between the buttons */
}

/* Submenu styles */
.submenu {
  display: none; /* Hide submenu by default */
  position: absolute;
  top: 5%; /* Position below the parent menu item */
  left: 50%;
  background-color: #696969; /* Background color for submenu */
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional: adds shadow to submenu */
  z-index: 100; /* Ensure the submenu is on top of other content */
  border-radius: 5px;
}

.submenu li {
  display: block; /* Display submenu items as block */
  text-align: left; /* Aligns text to the left */
}

.submenu a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background-color: #696969; /* Same as parent menu */
  transition: background-color 0.3s;
}

.submenu a:hover {
  background-color: #171717; /* Darker shade on hover */
}

.non-mobile-nav li:hover .submenu {
  display: block;
}

.non-mobile-nav a {
  display: inline-block;
  padding: 10px 20px; /* Adjusts the size of the buttons */
  background-color: #696969; /* Example button color */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline from links */
  border-radius: 5px; /* Optional: rounds the corners of the buttons */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

a.normallink {
  color: white;
}

.non-mobile-nav a:hover {
  background-color: #171717; /* Darker shade on hover */
}

div.content {
  /*height: 100%; /* Make sure the body takes up the full viewport height */
  margin: 20px; /* Remove default margin */
  display: flex;  /*Enable flexbox */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center content horizontally */
  align-items: top; /* Center content vertically */
  color: white;
  background-color: #156082;
  font-family: 'Special Elite';
  font-weight: 100;
  font-size: small;
  opacity: 0.6;
  border-radius: 20px;
  padding: 20px;
}

iframe.embedded-video {
  opacity: 1 !important;
  background-color: black;
}

div.content-heading {
  /*height: 100%; /* Make sure the body takes up the full viewport height */
  margin: 20px; /* Remove default margin */
  display: flex;  /*Enable flexbox */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center content horizontally */
  align-items: top; /* Center content vertically */
  color: white;
  background-color: #156082;
  font-family: 'Special Elite';
  font-weight: bold;
  opacity: 0.6;
  border-radius: 20px;
  padding: 20px;
}

.non-mobile-nav-menu {
  display: none;
}
  
.hamburger-menu .bar1 {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  background-color: #156082;
  cursor: pointer;
}
  
.hamburger-menu .bar2 {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  background-color: #156082;
  cursor: pointer;
}
  
.hamburger-menu .bar3 {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  background-color: #156082;
  cursor: pointer;
}

hr.headerDivider {
  width: 100%;
  border: 1;
  height: 1px;
  background-color: #156082;
  color: #156082;
}

.submenulink {
  position: relative; /* Make this element the reference point for the popup */
}

.menu-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Use fixed to make it appear over content */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%); /* Center the popup */
  width: 80%; /* Adjust based on your preference */
  max-width: 200px; /* Maximum width */
  background-color: #696969; /* Example button color */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline from links */
  border-radius: 5px; /* Optional: rounds the corners of the buttons */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
  z-index: 100; /* Ensure it's above other content */
  opacity: 0.9;
  border-radius: 20px;
}

.simpleList {

  list-style-type: disc;
  margin: 0;
  padding: 10px;
}

.menu-popup.active {
  display: block; /* Shown when the 'active' class is added */
  /* Other styling properties for the active state */
}

.mobile-nav ul {
  list-style: none;
  padding: 10px; /* Add padding for spacing */
  margin: 0;
  color: #262523;
}

.mobile-nav ul li a {
  display: block;
  padding: 2px 0; /* Adjust padding */
  text-decoration: none;
  color: white;
  font-family: 'Special Elite';
  font-weight: bold;
  text-align: left; /* left align the links */
}

.menu-popup.active {
  display: block; /* Show the popup */
}



@media (min-width: 768px) {
  .hamburger-menu {
      display: none;
  }
  
  div.content {
    font-weight: 100;
    font-size: 100%;
  }

  div.content-heading {
    font-weight: bold;
    font-size: 100%;
  }
  
  hr.headerDivider {
    border: 10;
    height: 10px;
  }

  .menu-popup.active {
    display: none; /* clear the popup */
  }

  .non-mobile-nav-menu {
      display: block; 
  }

  .mobile-nav {
      display: block;
      position: static;
      width: auto;
  }

  .mobile-nav ul li {
      display: inline;
      margin-right: 20px;
  }
}
