@charset "utf-8";

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
  background-image: url("images/background.jpg");
  background-size: cover;
}

nav ul {
  list-style-type: none; /* Removes default list styling */
  margin: 0;
  padding: 0;
  text-align: center; /* Centers the menu if desired */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

nav li {
  display: inline-block; /* Displays list items inline */
  margin-right: 10px; /* Adds some space between the buttons */
}

nav a {
  display: inline-block;
  padding: 10px 20px; /* Adjusts the size of the buttons */
  background-color: #696969; /* Example button color */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline from links */
  border-radius: 5px; /* Optional: rounds the corners of the buttons */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

nav a:hover {
  background-color: #171717; /* Darker shade on hover */
}

div.content {
  height: 100%; /* Make sure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}
